body {
    background-color: #f0f0f0;
    color: #222;
    font-family: "Lucida Console","Courier New",Courier,monospace;
    font-size: 14px;
}

input {
    font-family: "Lucida Console","Courier New",Courier,monospace;
}

body, div, img, pre {
    border: 0;
    margin: 0;
    padding: 0;
}

.h-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.v-box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.justify-start {
    justify-content: start;
}

.justify-end {
    justify-content: end;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-space-evenly {
    justify-content: space-evenly;
}

.align-items-center {
    align-items: center;
}

.m-8 {
    margin: 8px;
}

.mt-8 {
    margin-top: 8px;
}

.ml-8 {
    margin-left: 8px;
}

.mr-8 {
    margin-right: 8px;
}

.mb-8 {
    margin-bottom: 8px;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-2 {
    flex-grow: 2;
}

.flex-grow-4 {
    flex-grow: 4;
}

header {
    width: 100%;
    overflow: hidden;
}

.header-bar {
    background-color: #333;
    color: #eee;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    line-height: 2em;
    padding: 5px 20px 5px 20px;
}

.subheader-bar {
    background-color: #999;
    color: #eee;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    line-height: 1.5em;
    padding: 5px 20px 5px 20px;
}

nav {
    background-color: #ddd;
    border-bottom: 1px #ccc solid;
    color: #222;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    line-height: 1.5em;
    padding: 5px 20px 5px 20px;
}

.nav-item {
    background-color: #eee;
    border-left: 1px solid #fff;
    border-right: 1px solid #ccc;
    cursor: pointer;
    flex-grow: 1;
    padding: 3px 10px 3px 10px;
    text-align: center;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

nav .selected {
    background-color: #ccc;
    cursor: auto;
    font-weight: bold;
}

main {
    margin: 8px;
}

#panel {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

footer {
    border-top: #ccc 1px solid;
    font-size: 11px;
    margin: 20px 8px 0 8px;
    text-align: center;
}

.comments {
    font-size: 12px;
}

#debug-data-input {
    width: 100%;
}

#debug-load-data {
    border: #ccc 1px solid;
}

#cpu-dump {
    background-color: #fff;
    color: #222;
    font-size: 12px;
    min-height: 20px;
    overflow-x: hidden;
}

#mem-dump {
    background-color: #fff;
    color: #222;
    font-size: 12px;
    min-height: 20px;
    overflow-x: hidden;
}

.tutorial {
    background-color: #fff;
    color: #222;
    font-size: 12px;
    min-height: 20px;
    overflow-x: hidden;
    padding: 5px;
}

.button {
    background-color: #fff;
    border: 1px solid #bbb;
    cursor: pointer;
    font-size: 12px;
    line-height: 1.5em;
    padding: 0 5px 0 5px;
    text-align: center;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
